<template>
  <div id="app">
    <ButtonRow
      @append-rows-start="setState(appendNRowsStart(250, state))"
      @append-rows-end="setState(appendNRowsEnd(250, state))"
      @replace-all-rows="setState(replaceAllRows(state))"
      @update-n-rows="setState(updateNRows(250, state))"
      @swap-two-rows="setState(swapRows(1, 2, state))"
      @remove-row="setState(removeRow(1, state))"
      @clear-rows="setState(clearRows())"
    />
    <DisplayData :state="state" />
  </div>
</template>

<script>
import ButtonRow from "./components/ButtonRow.vue";
import DisplayData from "./components/DisplayData.vue";
import * as Helper from "./components/helper_benchmark";

export default {
  name: "App",
  data() {
    return {
      state: []
    };
  },
  methods: {
    appendNRowsStart: Helper.appendNRowsStart,
    appendNRowsEnd: Helper.appendNRowsEnd,
    removeRow: Helper.removeRow,
    swapRows: Helper.swapRows,
    updateNRows: Helper.updateNRows,
    replaceAllRows: Helper.replaceAllRows,
    clearRows: Helper.clearRows,
    setState: function(arg) {
      this.state = arg;
    }
  },
  components: {
    ButtonRow,
    DisplayData
  }
};
</script>

<style>
#app {
}
</style>
