<template>
  <div class="button-row">
    <button id="append-rows-start" @click="$emit('append-rows-start')">
      Append 250 rows start
    </button>
    <button id="append-rows-end" @click="$emit('append-rows-end')">
      Append 250 rows end
    </button>
    <button id="replace-all-rows" @click="$emit('replace-all-rows')">
      replaceAllRows
    </button>
    <button id="update-n-rows" @click="$emit('update-n-rows')">
      updateNRows
    </button>
    <button id="swap-two-rows" @click="$emit('swap-two-rows')">
      Swap Rows
    </button>
    <button id="remove-row" @click="$emit('remove-row')">
      Remove Row
    </button>
    <button id="clear-rows" @click="$emit('clear-rows')">
      Clear rows
    </button>
  </div>
</template>

<script>
export default {
  name: "ButtonRow"
};
</script>

<style>
.button-row {
  position: fixed;
  top: 0px;
  right: 0px;
}
</style>
