<template>
  <div>
    <ul>
      <li v-for="item in state" :key="item">
        {{ item }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "DisplayData",
  props: {
    state: Array
  }
};
</script>

<style></style>
