<div class="button-row">
    <button id="append-rows-start" (click)="onAppendNRowsStartClick()">
        Append 250 rows start
    </button>
    <button id="append-rows-end" (click)="onAppendNRowsEndClick()">
        Append 250 rows end
    </button>
    <button id="replace-all-rows" (click)="onReplaceAllRowsClick()">
        replaceAllRows
    </button>
    <button id="update-n-rows" (click)="onUpdateNRowsClick()">
        updateNRows
    </button>
    <button id="swap-two-rows" (click)="onSwapTwoRowsClick()">
        Swap Rows
    </button>
    <button id="remove-row" (click)="onRemoveRowClick()">
        Remove Row
    </button>
    <button id="clear-rows" (click)="onClearRowsClick()">
        Clear rows
    </button>
</div>